<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TodoFile" value="%USERPROFILE%\OneDrive\Obsidian\TODO.md"/>
		<add key="ImagesFolder" value="%USERPROFILE%\OneDrive\Obsidian\TODO_Images"/>
		<add key="Template" value="- {0}"/>
    </appSettings>
</configuration>